body{ padding:0; margin:0; font-family:$font-josefin-regular; font-size:16px; letter-spacing:1px; }
.home_bg{ background:url(../images/site_bg_home.png) no-repeat bottom center fixed; background-size:cover; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; }
.add_code_bg{ background:url(../images/site_bg_add_code.png) no-repeat bottom center fixed; background-size:cover; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; }

h1, h2, h3, h4, h5, h6{ padding:15px 0; }

h1{ font-size:22px; font-family:$font-josefin-regular; }
h2{ font-size:75px; font-family:$font-josefin-bold; }
h3{ font-size:24px; font-family:$font-josefin-semibold; }
h4{}
h5{ font-size:24px; font-family:$font-josefin-bold; }
h6{ font-size:16px; font-family:$font-josefin-semibold;  }

.rd_mobi_menu{ display:none; }

#rd_ring_pink{ position:fixed; top:100px; left:-170px; }
#rd_ring_blue{ position:fixed; top:100px; left:-50px; }
#rd_cellotape{ position:fixed; bottom:70px; left:-330px; }
#rd_gear{ position:fixed; top:100px; right:40px; }
#rd_pencil_black{ position:fixed; bottom:143px; right:76px; }
#rd_pencil_red{ position:fixed; bottom:143px; right:76px; }
#rd_square_colored{ position:fixed; bottom:256px; left:400px; }
#rd_square_green{ position:fixed; top:200px; right:-150px; }
#rd_curving{ position:fixed; top:200px; left:-140px; }
#rd_staples{ position:fixed; bottom:104px; left:-100px; }
#rd_pencil_red{ position:fixed; bottom:220px; right:-100px; }

input::-webkit-input-placeholder{ color:#82858f; opacity:1; }
input:-moz-placeholder{ color:#82858f; opacity:1; }
input::-moz-placeholder { color:#82858f; opacity:1; }
input:-ms-input-placeholder { color:#82858f; opacity:1; }

#rd_preloader{ width:100%; height:3px; position:fixed; z-index:99999; top:0; left:0; right:0; margin:0; padding:0; background: -webkit-gradient(linear, left top, left bottom, from(#292929), to(#2E2E2E)); background: -moz-linear-gradient(top, #292929, #2E2E2E); }
#rd_preloader_bar { height:3px; min-width: 21px; width: 100%; background: -webkit-gradient(linear, left top, left bottom, from(#d06350), to(#d06350)); background: -moz-linear-gradient(top, #d06350, #d06350); }

.rd_wrapper{ width:1047px; margin:0 auto; display:block; overflow:hidden; position:relative; }
.rd_close{ width:36px; height:36px; background:url(../images/icon_close.png) #3f99d7 no-repeat center center; cursor:pointer; border-radius:$btnroundness; position:absolute; top:-16px; right:-16px; }

.rd_how_it_works, .rd_redeem_pop_up{ position:fixed; z-index:5; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,0.7); display:none; }
.rd_how_it_works article, .rd_redeem_pop_up article{ background:rgba(255,255,255,1.00); width:540px; height:auto; position:relative; margin:0 auto; positon:relative; top:20%; border-radius:$edgeroundness; color:#2c354b; display:block; } 
.rd_how_it_works article ol{ padding:0 0 0 20px; font-size:16px; font-family:$font-josefin-regular; line-height:1.3em; }
.rd_how_it_works article ol li{ margin:10px 0; padding:0 0 0 10px; }

.rd_bg_images{ position:fixed; z-index:2; top:0; left:0; right:0; bottom:0; }

header{ position:fixed; z-index:4; top:0; left:0; right:0; width:100%; height:auto; }
.navbar { position: relative; min-height: auto; margin-bottom: 0; border: 0px solid transparent; }
.navbar-inverse { background-color:transparent; border-color:transparent; }
.navbar-brand { float:left; height:auto; padding:0; line-height: normal; }
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand { margin-left: 0; }
.rd_logo_container{ display:block; position:relative;  width:472px; height:130px; background:url(../images/bg_logo.png) no-repeat top left; }
.basco_logo{ width:119px; position:relative; top:20px; left:48px; }

ul#rd_main_navigation{ display:block; list-style-type:none; margin:20px 0 0 0; }
ul#rd_main_navigation li{ color:$white; padding:10px; margin:0 10px; font-size:12px; font-family:$font-josefin-semibold; color:$white; letter-spacing:1px; cursor:pointer; }
ul#rd_main_navigation li a{ color:$white; padding:0; margin:0; padding:0; margin:0; line-height:normal;  }
ul#rd_main_navigation li:hover, ul#rd_main_navigation li:hover a, ul#rd_main_navigation li.active a{ background:none; color:$darkblue; }
ul#rd_main_navigation li span{ padding-top:0px; font-size:8px; display:block; }

.rd_content_section{ position:relative; z-index:3; padding-top:150px; letter-spacing:1px; padding-bottom:70px; }

.rd_home_content{ width:574px; margin:0 auto; display:block; text-align:center; color:#fff; }
.rd_home_content h1, .rd_home_content h2{ text-transform:uppercase; }
.rd_home_content p{ font-size:22px; width:227px; margin:0 auto; line-height:1.3em; }

.rd_add_code_content{ width:425px; height:auto; float:right; background:$white; border-radius:$edgeroundness;  }
.rd_content_container{ padding:15px 40px; display:block; height:auto; overflow:hidden; }
.rd_add_code_content h1{ display:block; font-family:$font-josefin-semibold; }
.rd_input_container{ display:block; margin:0 0 20px 0; }
.rd_input_container p{ font-size:16px; padding-bottom:10px; color:#2c354b; font-family:$font-josefin-semibold; }
.rd_input_container input[type="text"]{ font-family:$font-josefin-regularitalic; border-radius:$btnroundness; border:3px solid #b2b2b2; color:#82858f; font-size:14px; padding:15px 20px; letter-spacing:1px; display:block; width:100%; }
.rd_input_container select{ font-family:$font-josefin-regularitalic; border-radius:$btnroundness; -webkit-appearance:none; -webkit-border-radius:$btnroundness; background-color:$white; border:3px solid #b2b2b2; color:#82858f; font-size:14px; height:50px; letter-spacing:1px; display:block; width:100%; padding:0 20px; }

.rd_message_output{ background:url(../images/icon_triangle.png) repeat-x; padding:8px 0 0 0; border-radius:0 0 10px 10px; overflow:hidden; }
.rd_failure, .rd_success{ display:block; background:#edecea; }
.rd_failure h5{ color:#de0f20; }
.rd_success h5{ color:#2c354b; }
.rd_failure p, .rd_success p{ line-height:1.3em; color:#2c354b; }

.rd_global_content{ width:100%; display:block; height:auto; background:$white; border-radius:10px; }

.rd_global_bttn{ padding:10px 0 8px; font-size:22px; width:$btnwidth; font-family:$font-josefin-semibold; border-radius:$btnroundness; margin:20px 15px; letter-spacing:1px; overflow:hidden; }
.rd_white_bttn{ border:3px solid $white; color:$darkblue; background-color:$white; transition:all 0.5s; -moz-transition:all 0.5s; -webkit-transition:all 0.5s; }
.rd_transparent_bttn{ border:3px solid $white; color:$white; background-color:transparent; transition:all 0.5s; -moz-transition:all 0.5s; -webkit-transition:all 0.5s; }
.rd_blue_bttn{ border:3px solid #3f99d7; width:127px !important; background:#3f99d7; font-size:18px; color:$white; margin:0; float:right; transition:all 0.5s; -moz-transition:all 0.5s; -webkit-transition:all 0.5s; }

.rd_white_bttn:hover{ border:3px solid $darkblue; color:$white; background-color:$darkblue; transition:all 0.5s; -moz-transition:all 0.5s; -webkit-transition:all 0.5s; }
.rd_transparent_bttn:hover{ border:3px solid $white; color:$darkblue; background-color:#fff; transition:all 0.5s; -moz-transition:all 0.5s; -webkit-transition:all 0.5s; }
.rd_blue_bttn:hover{ border:3px solid $white; width:127px !important; background:$white; font-size:18px; color:#3f99d7; margin:0; float:right; transition:all 0.5s; -moz-transition:all 0.5s; -webkit-transition:all 0.5s; }

.rd_listed_prizes{ display:block; position:relative; padding:20px 0; }
.rd_single_product{ width:210px; height:275px; display:block; margin:0 auto; }
.rd_product_image{ width:118px; min-height:160px; height:160px; overflow:hidden; display:block; margin:0 auto; padding:15px 0; }
.rd_product_image img{ width:100%; }
.rd_product_txt{ width:100%; height:118px; display:block; text-align:center; }
.rd_product_txt h6{ color:#32a8c9; width:80%; margin:0 auto; line-height:1.3em; }
.rd_prize_bttn{ background-color:transparent; border:2px solid #000000; color:#000000; font-family:$font-josefin-bold; padding:6px 19px 4px; font-size:15px; border-radius:$btnroundness; }
.rd_main_prices_listing .rd_prize_bttn{ float:right; }

.slick-prev{ background:url(../images/btn_prev.png) no-repeat; width:27px; height:27px; position:absolute; z-index:2; top:42%; left:15px; border:none; font-size:0px; }
.slick-next{ background:url(../images/btn_next.png) no-repeat; width:27px; height:27px; position:absolute; z-index:2; top:42%; right:15px; border:none; font-size:0px; }
ul.slick-dots{ display:table !important; width:auto; margin:0 auto; list-style-type:none; padding:20px 0; font-family:$font-josefin-semibold;   }
ul.slick-dots li{ display:inline-table !important; width:auto; float:left; margin:0 10px; }
ul.slick-dots li button{ border:2px solid #999999; color:#999999; border-radius:50%; width:28px; height:28px; font-size:14px; padding:0; text-align:center; line-height:1.3em; background-color:transparent; }
ul.slick-dots li.slick-active button{ border:2px solid #000; color:#000; }

.rd_main_prices_listing{ padding:30px 40px; margin:0; list-style-type:none; }
.rd_main_prices_listing ul{ padding:0; margin:0; list-style-type:none; }
.rd_main_prices_listing ul li{ display:block; border-bottom:1px solid #cccccc; padding:24px 0 20px; }
.rd_main_prices_listing ul li:nth-child(1) { border-bottom:1px solid #000000; font-family:$font-josefin-semibold; padding:15px 0 10px; }
.rd_main_prices_listing ul li:last-child{ border:none; }


.rd_cont{ padding:30px 40px; margin:0; height:65vh; overflow-y:auto; }
.rd_cont ol, .rd_cont ul{ padding:10px 0 10px 20px; line-height:1.2em; }
.rd_cont ol li, .rd_cont ul li{ margin:5px 0; }

.rd_cont, .rd_main_prices_listing{ height:65vh; overflow-y:auto; }

footer{ position:fixed; z-index:4; bottom:0; right:0; left:0; text-align:center;  color:$darkblue; text-transform:uppercase; font-size:10px; }
.bordertop{ border-top:1px solid #1d7ea6; }
footer .rd_wrapper{ padding:30px 0 20px; }
footer a{ color:$darkblue; }

@media screen and (max-width:1400px){ 

#rd_ring_pink{ top:10%; left:0px; width:200px; }
#rd_ring_blue{ top:10%; left:0px; width:200px;  }
#rd_cellotape{ bottom:10%; left:-15%; width:400px;  }
#rd_gear{ position:fixed; top:15%; right:40px; width:150px;  }
#rd_pencil_black{ bottom:18%; right:0; width:300px;  }
#rd_pencil_red{ bottom:0; right:76px; width:100px; }
#rd_square_colored{ top:20%; right:10%; width:300px;  }
#rd_square_green{ position:fixed; top:200px; right:-150px; width:100px;  }
#rd_curving{ position:fixed; top:10%; left:-5%; width:180px;  }
#rd_staples{ position:fixed; bottom:10%; left:-5%; width:240px;  }
#rd_pencil_red{ position:fixed; bottom:10%; right:-5%; width:150px;  }

footer{ position:relative; }

}

@media screen and (max-width:1200px){ 

.rd_wrapper { width: 96%; }


}

@media screen and (max-width:960px){ 

#rd_ring_pink{ top:100px; left:0px; width:100px; }
#rd_ring_blue{ top:100px; left:0px; width:100px;  }
#rd_cellotape{ bottom:70px; left:0; width:200px;  }
#rd_gear{ position:fixed; top:100px; right:40px; width:100px;  }
#rd_pencil_black{ bottom:10%; right:0; width:200px;  }
#rd_pencil_red{ bottom:0; right:76px; width:100px; }
#rd_square_colored{ top:30px; right:10%; width:100px;  }
#rd_square_green{ position:fixed; top:200px; right:-150px; width:100px;  }
#rd_curving{ position:fixed; top:200px; left:-140px; width:100px;  }
#rd_staples{ position:fixed; bottom:104px; left:-100px; width:100px;  }
#rd_pencil_red{ position:fixed; bottom:220px; right:-100px; width:100px;  }

header{ background:#fff; }
.navbar-header{ width:80px; float:left; }
.rd_logo_container { display: block; position: relative; width:80px; height:60px; background:#fff; float:left; top: 10px; left: 10px;  }
.basco_logo { width: 80px; position: relative; top: 0; left: 0; }
ul#rd_main_navigation{ display:table; list-style-type:none; margin:0 0 0 0; position:relative; width:auto; padding:20px 0; overflow:hidden; float:right; }
ul#rd_main_navigation li{ color:$darkblue; padding:5px; margin:0 0; font-size:12px; font-family:$font-josefin-semibold; letter-spacing:1px; cursor:pointer; display:inline-block; }
ul#rd_main_navigation li a{ color:$darkblue; padding:0; margin:0; padding:0; margin:0; line-height:normal; }
ul#rd_main_navigation li:hover, ul#rd_main_navigation li:hover a, ul#rd_main_navigation li.active a{ background:none; color:#3f99d7; }
ul#rd_main_navigation li span{ padding-top:0px; font-size:8px; display:none; }

.rd_add_code_content { width: 90%; height: auto; float: none; background: #ffffff; border-radius: 10px; margin:0 auto;}

.rd_cont, .rd_main_prices_listing{ height:auto; overflow-y:auto; }

}

@media screen and (max-width:750px){
	

.rd_home_content{ width:100%; margin:0 auto; display:block; text-align:center; color:#fff; overflow:hidden; }
.rd_add_code_content{ width:100%; height:auto; float:none; background:$white; overflow:hidden; }
.rd_close{ top:10px; right:10px; }
.rd_how_it_works, .rd_redeem_pop_up { background: #ffffff; position: relative; top: 0; bottom: 0; right: 0; left: 0; z-index: 9; display: none; width: 100%; height: 100%; }
.rd_how_it_works article, .rd_redeem_pop_up article{ width:100%; height:auto; position:relative; margin:0 auto; positon:relative; top:5%; border-radius:$edgeroundness; color:#2c354b; display:block; } 
.rd_how_it_works article ol{ padding:0 0 0 10px; font-size:12px;}

.rd_home_content p{ font-size:16px; width:100%; margin:0 auto; line-height:1.3em; }
.rd_global_bttn{ padding:10px 0 8px; font-size:16px; margin:10px 15px; }
.rd_input_container p{ font-size:14px; padding-bottom:10px; color:#2c354b; font-family:$font-josefin-semibold; }
.rd_how_it_works article ol{ padding:0 0 0 20px; font-size:16px; font-family:$font-josefin-regular; line-height:1.3em; }
h1{ font-size:16px; }
h2{ font-size:40px; }
h3{ font-size:18px; }
h5{ font-size:18px; }
h6{ font-size:13px; }

footer{ position:relative; }
ul.slick-dots{ display:none !important; }

.rd_main_prices_listing .col-sm-6{ width:70%; float:left; }
.rd_main_prices_listing .col-sm-4{ width:30%; float:left; text-align:right; }
.rd_main_prices_listing .col-sm-2{ width:100%; float:none; display:block; padding:50px 0 0 0; }
	
}

@media screen and (max-width:500px){
	
.navbar-header{ width:80px; float:left; }
ul#rd_main_navigation{ display:table; list-style-type:none; margin:0 0 0 0; position:relative; width:auto; padding:13px 0 10px; overflow:hidden; float:right; }
ul#rd_main_navigation li{ display:block; padding:2px 0; text-align:right; }


}