$font-josefin-regular: '../fonts/JosefinSans';
$font-josefin-regularitalic: '../fonts/JosefinSansRegularItalic';
$font-josefin-bold: '../fonts/JosefinSans-Bold';
$font-josefin-bolditalic: '../fonts/JosefinSans-BoldItalic';
$font-josefin-semibold: '../fonts/JosefinSans-SemiBold';
$font-josefin-semibolditalic: '../fonts/JosefinSans-SemiBoldItalic';
$font-josefin-light: '../fonts/JosefinSans';
$font-josefin-lightitalic: '../fonts/JosefinSans-LightItalic';